############################
# OS
############################
.DS_Store
DS_Store/

############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo
*.egg
*.egg-info/
build/
.eggs/
pip-wheel-metadata/

############################
# Virtual Environments
############################
.venv/
venv/
env/
ENV/

############################
# Environment Variables
############################
.env
.env.*
!.env.example

############################
# Django
############################
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.local_settings.py

############################
# PyCharm / VSCode
############################
.idea/
.vscode/

############################
# Node / npm
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Vue / Vite
############################
dist/
.vite/
.cache/
vite.config.ts.timestamp-*

############################
# Misc
############################
*.bak
*.tmp
*.orig
